.animate-in {
    animation: animate-in 0.5s linear forwards !important;
}

@keyframes animate-in {
    from {
        max-height: 0px;
    }
    to {
        max-height: 1000px;
    }
}

ion-card ion-item {
    font-size: 12px !important;
}