<div class="timeline-content">
  <h3>Product Timeline</h3>
  <div class="t-event t1">
    <div class="t-half left"><div>mvp</div></div>
    <div class="t-line"></div>
    <div class="t-dot">
      <ion-spinner
        style="width: 20px; height: 20px"
        name="crescent"
      ></ion-spinner>
    </div>
  </div>
  <div class="t-event t2">
    <div class="t-half right"><div>user growth</div></div>
    <div class="t-line"></div>
    <div class="t-dot">
      <ion-icon
        style="width: 20px; height: 20px"
        name="ellipse-outline"
      ></ion-icon>
    </div>
  </div>
  <div class="t-event t3">
    <div class="t-half left"><div>revenue</div></div>
    <div class="t-line"></div>
    <div class="t-dot">
      <ion-icon
        style="width: 20px; height: 20px"
        name="ellipse-outline"
      ></ion-icon>
    </div>
  </div>
  <div class="t-event t4">
    <div class="t-half right"><div>profit</div></div>
    <div class="t-line"></div>
    <div class="t-dot">
      <ion-icon
        style="width: 20px; height: 20px"
        name="ellipse-outline"
      ></ion-icon>
    </div>
  </div>
</div>
