<ion-card>
  <ion-card-header translucent="true">
    <ion-card-title>Verify Code</ion-card-title>
  </ion-card-header>
  <ion-card-content style="text-align: center">
    <div class="code-input">
      <div *ngFor="let i of [0, 1, 2, 3, 4, 5]" class="code-input-digit">
        <ion-input
          [(ngModel)]="auth.codes[i]"
          (ionChange)="auth.codeschanged($event)"
          style="--padding-end: 0; border: 1px solid #ddd; border-radius: 5px"
          inputmode="text"
          autocomplete="one-time-code"
          type="text"
          maxlength="1"
          minlength="1"
          required="true"></ion-input>
      </div>
    </div>
    <ion-progress-bar
      class="progress-bar"
      [style.opacity]="auth.codeprogress.opacity"
      [color]="auth.codeprogress.color"
      [value]="auth.codeprogress.value"></ion-progress-bar>
    <ion-item lines="none">
      <ion-button slot="start" fill="clear" size="small" (click)="back()"
        >Back
      </ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
