<ion-card>
    <ion-card-header translucent="true">
        <ion-card-title>Verify Code</ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center">
        <ion-item lines="inset">
            <ion-label position="floating">Code</ion-label>
            <ion-input type="text" clearInput [(ngModel)]="auth.code" inputmode="number" [debounce]="500" placeholder="xxx-xxx" (ionChange)="auth.codechanged($event)" required="true"></ion-input>
        </ion-item>
        <ion-progress-bar class="progress-bar" [style.opacity]="auth.codeprogress.opacity" [color]="auth.codeprogress.color" [value]="auth.codeprogress.value"></ion-progress-bar>
        <ion-item lines="none">
            <ion-button slot="start" fill="clear" size="small" (click)="back()">Back
            </ion-button>
        </ion-item>
    </ion-card-content>
</ion-card>