<ion-card>
  <ion-card-header translucent="true">
    <ion-card-title>Mobile Number</ion-card-title>
  </ion-card-header>
  <ion-card-content style="text-align: center">
    <ion-item lines="inset">
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input
        autofocus="true"
        autocomplete="tel"
        inputmode="tel"
        type="tel"
        [placeholder]="telformats[telformaxidx]"
        clearInput
        [(ngModel)]="auth.user.tel"
        required="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-button
        *ngIf="!auth.accountRequestLoading"
        [disabled]="!auth.user.tel"
        slot="end"
        fill="clear"
        size="small"
        (click)="auth.telsubmitted()"
        >Next
      </ion-button>
      <ion-spinner
        *ngIf="auth.accountRequestLoading"
        name="crescent"></ion-spinner>
    </ion-item>
  </ion-card-content>
</ion-card>
