<ion-fab
  #fab
  id="fab"
  (click)="apps.views.fab = !apps.views.fab"
  [activated]="apps.views.fab"
  vertical="bottom"
  horizontal="end"
  slot="fixed">
  <ion-fab-button [translucent]="true" size="small">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button (click)="apps.add()" color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="apps.refresh()" color="light">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="apps.isDeleting($event)" color="light">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
