ion-content {
  height: 100vh;
}
ion-card {
  width: -webkit-fill-available;
}

.slide-content {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.card-buttons {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}
