<div #pc (click)="deleting = false" class="portfolio-container">
  <ng-container *ngIf="!loading">
    <div
      class="apps-container puff-in-center"
      *ngFor="let person of collaborators"
    >
      <span class="founder-label">{{ person }}</span>
      <!-- <hr class="app-divisor" /> -->
      <p-divider></p-divider>
      <div class="app-tile-flex">
        <div
          *ngFor="let app of groupedApps[person]"
          class="app-tile-wrap p-component"
        >
          <div
            (click)="appClicked(app)"
            class="app-tile"
            [class.vibrate-3]="deleting"
          >
            <div
              (click)="deleteApp($event, app)"
              *ngIf="deleting"
              class="app-delete-icon"
            >
              <i
                style="
                  background: var(--bluegray-300);
                  color: #121212;
                  border-radius: 50%;
                "
                class="pi pi-minus-circle"
              ></i>
            </div>
          </div>
          <div class="app-label">
            {{ app.name }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div *ngIf="loading" class="progress-container">
    <p-progressSpinner
      *ngIf="loading"
      styleClass="progress-spinner"
      strokeWidth="8"
    ></p-progressSpinner>
  </div>

  <p-confirmDialog
    #dialog
    [style]="{ width: '50vw' }"
    [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
  >
    <ng-template pTemplate="header">
      <h3>Deleting App</h3>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        type="button"
        pButton
        icon="pi pi-times"
        label="No"
        (click)="$event.stopPropagation(); dialog.reject()"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        label="Yes"
        (click)="$event.stopPropagation(); dialog.accept()"
      ></button>
    </ng-template>
  </p-confirmDialog>

  <p-sidebar
    styleClass="p-sidebar-lg"
    [(visible)]="isSidebarOpen"
    position="bottom"
    [appendTo]="'body'"
  >
    <p-tabView>
      <p-tabPanel header="Features">
        <div class="tab-panel">
          <p-listbox [options]="selectedApp.features">
            <ng-template let-feature pTemplate="item">
              <div>
                <i
                  *ngIf="!isEditingFeatures"
                  [ngStyle]="{ color: 'var(--green-400)' }"
                  class="pi pi-check"
                ></i>

                <i
                  *ngIf="isEditingFeatures"
                  [ngStyle]="{ color: 'var(--red-400)' }"
                  class="pi pi-trash"
                  (click)="deleteFeatureClicked(feature)"
                ></i>

                &nbsp;&nbsp;{{ feature }}
              </div>
            </ng-template>
            <ng-template class="list-header" pTemplate="footer"
              ><button
                pButton
                type="button"
                class="p-button-text"
                label="Add"
                (click)="addFeaturesClicked()"
                [disabled]="isEditingFeatures"
              ></button>
              <button
                *ngIf="!isEditingFeatures"
                pButton
                type="button"
                class="p-button-text"
                label="Edit"
                (click)="editFeaturesClicked()"
              ></button>
              <button
                *ngIf="isEditingFeatures"
                pButton
                type="button"
                class="p-button-text"
                label="Done"
                (click)="doneFeaturesClicked()"
              ></button>
            </ng-template>
          </p-listbox>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Timeline">
        <ng-container *ngIf="selectedApp.initiated" class="timeline-container">
          <p-timeline [value]="selectedApp.timeline" align="alternate">
            <ng-template pTemplate="marker" let-event>
              <p-progressSpinner *ngIf="event.inProgress"></p-progressSpinner>
              <i *ngIf="event.isDone" class="pi pi-heart-fill"></i>
              <i
                *ngIf="!event.isDone && !event.inProgress"
                class="pi pi-heart"
              ></i>
            </ng-template>
            <ng-template pTemplate="content" let-event>
              <span [style.color]="event.iProgress ? 'var(--green-300)' : ''">{{
                event.description
              }}</span>
            </ng-template>
          </p-timeline>
        </ng-container>

        <ng-container *ngIf="!selectedApp.initiated">
          <div class="timeline-container">
            <p-card header="Begin your journey!" subheader="Be fearless">
              <ng-template pTemplate="header">
                <img alt="Card" src="../../assets/images/startup.png" />
              </ng-template>
              <ng-template pTemplate="content">
                <p-button
                  styleClass="p-button-success"
                  label="Initiate"
                  (click)="initiateStartupClicked()"
                ></p-button>
              </ng-template>
            </p-card>
          </div>
        </ng-container>
      </p-tabPanel>
      <p-tabPanel header="Resources"> Coming soon </p-tabPanel>
    </p-tabView>
  </p-sidebar>

  <p-dialog
    [(visible)]="isNewFeatureOpen"
    [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
    [style]="{ width: '50vw' }"
    [appendTo]="'body'"
  >
    <ng-template pTemplate="header"> Describe your feature </ng-template>
    <ng-template pTemplate="content">
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        "
      >
        <textarea
          rows="3"
          cols="30"
          pInputTextarea
          [(ngModel)]="newFeatureText"
        ></textarea>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="button"
        class="p-button-text"
        label="Save"
        (click)="newFeatureSaved()"
      ></button>
    </ng-template>
  </p-dialog>

  <p-toast
    [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
  ></p-toast>

  <p-speedDial
    [model]="actions"
    direction="up"
    buttonClassName="p-button-raised"
  ></p-speedDial>

  <p-dialog
    [(visible)]="showNewAppModal"
    [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
    [style]="{ width: '50vw' }"
    position="bottom"
    [modal]="true"
    [resizable]="false"
    [showHeader]="true"
    header="Tell us about your app!"
    [dismissableMask]="true"
  >
    <ng-template pTemplate="content">
      <div class="form-slideshow">
        <div #slide1 class="slide-onscreen">
          <h4>App Name</h4>
          <span class="p-input-icon-left p-input-filled">
            <i class="pi pi-bolt"></i>
            <input
              id="app-name"
              type="text"
              pInputText
              [(ngModel)]="newappName"
              class="p-inputtext-sm"
            />
          </span>
          <button
            pButton
            type="button"
            (click)="navigateName($event)"
            label="Next"
            class="p-button-link"
          ></button>
        </div>
        <div #slide2 class="slide-offscreen">
          <h4>Features</h4>
          <div class="newapp-addfeature-textarea">
            <textarea
              [(ngModel)]="newappFeature"
              class="p-inputtext-sm p-input-filled"
              rows="2"
              cols="25"
              pInputTextarea
            >
            </textarea>

            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-plus"
              class="p-button-rounded newapp-addfeature-btn shadow-2"
              (click)="newappAddFeature($event)"
            ></button>
          </div>

          <h4><small>Collection</small></h4>

          <p-listbox
            [listStyle]="{ 'max-height': '150px' }"
            [options]="newappFeatures"
          >
            <ng-template let-feature pTemplate="item">
              <div class="newfeature-item">
                <i
                  style="color: rgb(113, 40, 40); padding: 3px 5px 0 0"
                  class="pi pi-times"
                  (click)="newappDeleteFeature(feature)"
                ></i>
                <div>{{ feature }}</div>
              </div>
            </ng-template>
          </p-listbox>

          <div class="btn-container">
            <button
              pButton
              pRipple
              type="button"
              (click)="navigateFeatures('back')"
              icon="pi pi-chevron-left"
              class="p-button-rounded p-button-text"
            ></button>

            <button
              pButton
              type="button"
              (click)="navigateFeatures('next')"
              label="Next"
              class="p-button-link"
            ></button>

            <button
              pButton
              pRipple
              type="button"
              (click)="navigateFeatures('skip')"
              icon="pi pi-chevron-right"
              class="p-button-rounded p-button-text"
            ></button>
          </div>
        </div>
        <div
          #slide3
          class="slide-offscreen"
          (transitionend)="transitionend($event)"
        >
          <button
            pButton
            pRipple
            type="button"
            label="Create!"
            class="p-button-text"
            (click)="createApp($event)"
          ></button>
          <button
            pButton
            type="button"
            (click)="navigateCreate('back')"
            label="Back"
            class="p-button-link"
          ></button>
        </div>
      </div>

      <ng-particles
        id="newapp-bg"
        [options]="newappParticlesOptions"
        (particlesLoaded)="particlesLoaded($event)"
      ></ng-particles>
    </ng-template>
  </p-dialog>
</div>
