<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>
      <span>Idea</span>
      <ion-icon
        style="padding: 0 10px 0 10px; color: rgb(247, 202, 0)"
        name="flash-sharp"
      ></ion-icon>
      <span>Collab</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" (click)="screenClicked($event)">
  <ion-refresher #refresher slot="fixed" (ionRefresh)="apps.refresh()">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <div class="tab-content">
    <ng-container *ngIf="!apps.loading">
      <div class="puff-in-center" *ngFor="let person of apps.collaborators">
        <span
          (click)="
            appContainer.style.maxHeight =
              appContainer.style.maxHeight == '1000px' ? '0px' : '1000px'
          "
          class="originator-label"
          >{{ person }}</span
        >

        <div #appContainer class="app-tile-flex">
          <ng-container *ngFor="let app of apps.groupedApps[person]">
            <div class="app-tile-wrap p-component">
              <div
                (click)="apps.selected(app)"
                class="app-tile"
                [class.vibrate-3]="apps.deleting"
              >
                <div
                  (click)="apps.confirmDelete($event, app)"
                  *ngIf="apps.deleting"
                  class="app-delete-icon"
                >
                  <ion-icon
                    class="ionic-delete-app-icon"
                    name="remove"
                  ></ion-icon>
                </div>
              </div>
              <div class="app-label">
                {{ app.name }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <div *ngIf="apps.loading" class="progress-container">
      <ion-spinner
        color="primary"
        style="width: 100px; height: 100px"
        name="crescent"
      ></ion-spinner>
    </div>
  </div>
</ion-content>

<ion-fab
  #fab
  (click)="fabOpen = !fabOpen"
  [activated]="fabOpen"
  vertical="bottom"
  horizontal="end"
  slot="fixed"
>
  <ion-fab-button [translucent]="true" size="small">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button (click)="apps.add()" color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="apps.refresh()" color="light">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="apps.isDeleting($event)" color="light">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-modal
  [isOpen]="apps.isModalOpen"
  [breakpoints]="[0.1, 0.25, 0.5, 1]"
  [initialBreakpoint]="0.25"
>
  <ng-template>
    <ion-content>
      <div class="delete-app-modal-content">
        <ion-button
          expand="block"
          color="danger"
          class="ion-activatable ripple-parent"
          (click)="apps.delete()"
        >
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete App
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </ion-button>

        <ion-button
          expand="block"
          class="ion-activatable ripple-parent"
          (click)="apps.cancelDelete()"
        >
          Cancel
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<p-sidebar
  styleClass="p-sidebar-lg"
  [(visible)]="apps.isSidebarOpen"
  position="bottom"
  [appendTo]="'body'"
>
  <swiper
    [autoplay]="false"
    [keyboard]="true"
    [pagination]="true"
    [scrollbar]="true"
    [zoom]="true"
  >
    <ng-template swiperSlide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{ apps.selectedApp.name }}</ion-card-subtitle>
          <ion-card-title>Features</ion-card-title>
          <div class="edit-features-btn">
            <ion-button
              (click)="apps.editingFeatures = !apps.editingFeatures"
              fill="clear"
            >
              <ion-icon
                *ngIf="!apps.editingFeatures"
                name="pencil-sharp"
              ></ion-icon>
              <ion-icon
                *ngIf="apps.editingFeatures"
                name="checkmark-done-sharp"
              ></ion-icon>
            </ion-button>
          </div>
        </ion-card-header>

        <ion-card-content>
          <ion-list lines="full">
            <ng-container *ngFor="let feature of apps.selectedApp.features">
              <ion-item>
                <ion-label>{{ feature }}</ion-label>
                <ion-icon
                  *ngIf="!apps.editingFeatures"
                  slot="start"
                  color="success"
                  name="checkmark-sharp"
                ></ion-icon>
                <ion-icon
                  *ngIf="apps.editingFeatures"
                  slot="start"
                  color="danger"
                  name="trash-sharp"
                  class="animated pulse"
                ></ion-icon>
              </ion-item>
            </ng-container>
          </ion-list>
        </ion-card-content> </ion-card
    ></ng-template>
    <ng-template swiperSlide>
      <div class="timeline-content">
        <h3>Product Timeline</h3>
        <div class="t-event t1">
          <div class="t-half left"><div>mvp</div></div>
          <div class="t-line"></div>
          <div class="t-dot">
            <ion-spinner
              style="width: 20px; height: 20px"
              name="crescent"
            ></ion-spinner>
          </div>
        </div>
        <div class="t-event t2">
          <div class="t-half right"><div>user growth</div></div>
          <div class="t-line"></div>
          <div class="t-dot">
            <ion-icon
              style="width: 20px; height: 20px"
              name="ellipse-outline"
            ></ion-icon>
          </div>
        </div>
        <div class="t-event t3">
          <div class="t-half left"><div>revenue</div></div>
          <div class="t-line"></div>
          <div class="t-dot">
            <ion-icon
              style="width: 20px; height: 20px"
              name="ellipse-outline"
            ></ion-icon>
          </div>
        </div>
        <div class="t-event t4">
          <div class="t-half right"><div>profitability</div></div>
          <div class="t-line"></div>
          <div class="t-dot">
            <ion-icon
              style="width: 20px; height: 20px"
              name="ellipse-outline"
            ></ion-icon>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="asset-container">
        <h3>Assets</h3>
        <h6>coming soon</h6>
      </div>
    </ng-template>
  </swiper>

  <!-- <ion-slides
    style="height: 100%; width: 100%"
    pager="true"
    [options]="slideOpts"
  >
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides> -->
  <!-- <p-tabView>
    <p-tabPanel header="Features">
      <div class="tab-panel">
        <p-listbox [options]="apps.selectedApp.features">
          <ng-template let-feature pTemplate="item">
            <div>
              <i
                *ngIf="!isEditingFeatures"
                [ngStyle]="{ color: 'var(--green-400)' }"
                class="pi pi-check"
              ></i>

              <i
                *ngIf="isEditingFeatures"
                [ngStyle]="{ color: 'var(--red-400)' }"
                class="pi pi-trash"
                (click)="apps.deleteFeatureClicked(feature)"
              ></i>

              &nbsp;&nbsp;{{ feature }}
            </div>
          </ng-template>
          <ng-template class="list-header" pTemplate="footer"
            ><button
              pButton
              type="button"
              class="p-button-text"
              label="Add"
              (click)="addFeaturesClicked()"
              [disabled]="isEditingFeatures"
            ></button>
            <button
              *ngIf="!isEditingFeatures"
              pButton
              type="button"
              class="p-button-text"
              label="Edit"
              (click)="editFeaturesClicked()"
            ></button>
            <button
              *ngIf="isEditingFeatures"
              pButton
              type="button"
              class="p-button-text"
              label="Done"
              (click)="doneFeaturesClicked()"
            ></button>
          </ng-template>
        </p-listbox>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Timeline">
      <ng-container
        *ngIf="apps.selectedApp.initiated"
        class="timeline-container"
      >
        <p-timeline [value]="apps.selectedApp.timeline" align="alternate">
          <ng-template pTemplate="marker" let-event>
            <p-progressSpinner *ngIf="event.inProgress"></p-progressSpinner>
            <i *ngIf="event.isDone" class="pi pi-heart-fill"></i>
            <i
              *ngIf="!event.isDone && !event.inProgress"
              class="pi pi-heart"
            ></i>
          </ng-template>
          <ng-template pTemplate="content" let-event>
            <span [style.color]="event.iProgress ? 'var(--green-300)' : ''">{{
              event.description
            }}</span>
          </ng-template>
        </p-timeline>
      </ng-container>

      <ng-container *ngIf="!apps.selectedApp.initiated">
        <div class="timeline-container">
          <p-card header="Begin your journey!" subheader="Be fearless">
            <ng-template pTemplate="header">
              <img alt="Card" src="../../assets/images/startup.png" />
            </ng-template>
            <ng-template pTemplate="content">
              <p-button
                styleClass="p-button-success"
                label="Initiate"
                (click)="apps.initiateStartupClicked()"
              ></p-button>
            </ng-template>
          </p-card>
        </div>
      </ng-container>
    </p-tabPanel>
    <p-tabPanel header="Resources"> Coming soon </p-tabPanel>
  </p-tabView> -->
</p-sidebar>

<p-dialog
  [(visible)]="isNewFeatureOpen"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [appendTo]="'body'"
>
  <ng-template pTemplate="header"> Describe your feature </ng-template>
  <ng-template pTemplate="content">
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      "
    >
      <textarea
        rows="3"
        cols="30"
        pInputTextarea
        [(ngModel)]="newFeatureText"
      ></textarea>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      class="p-button-text"
      label="Save"
      (click)="apps.newFeatureSaved()"
    ></button>
  </ng-template>
</p-dialog>

<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>

<p-dialog
  [(visible)]="showNewAppModal"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  position="bottom"
  [modal]="true"
  [resizable]="false"
  [showHeader]="true"
  header="Tell us about your app!"
  [dismissableMask]="true"
>
  <ng-template pTemplate="content">
    <div class="form-slideshow">
      <div #slide1 class="slide-onscreen">
        <h4>App Name</h4>
        <span class="p-input-icon-left p-input-filled">
          <i class="pi pi-bolt"></i>
          <input
            id="app-name"
            type="text"
            pInputText
            [(ngModel)]="newappName"
            class="p-inputtext-sm"
          />
        </span>
        <button
          pButton
          type="button"
          (click)="navigateName($event)"
          label="Next"
          class="p-button-link"
        ></button>
      </div>
      <div #slide2 class="slide-offscreen">
        <h4>Features</h4>
        <div class="newapp-addfeature-textarea">
          <textarea
            [(ngModel)]="newappFeature"
            class="p-inputtext-sm p-input-filled"
            rows="2"
            cols="25"
            pInputTextarea
          >
          </textarea>

          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-plus"
            class="p-button-rounded newapp-addfeature-btn shadow-2"
            (click)="newappAddFeature($event)"
          ></button>
        </div>

        <h4><small>Collection</small></h4>

        <p-listbox
          [listStyle]="{ 'max-height': '150px' }"
          [options]="newappFeatures"
        >
          <ng-template let-feature pTemplate="item">
            <div class="newfeature-item">
              <i
                style="color: rgb(113, 40, 40); padding: 3px 5px 0 0"
                class="pi pi-times"
                (click)="newappDeleteFeature(feature)"
              ></i>
              <div>{{ feature }}</div>
            </div>
          </ng-template>
        </p-listbox>

        <div class="btn-container">
          <button
            pButton
            pRipple
            type="button"
            (click)="navigateFeatures('back')"
            icon="pi pi-chevron-left"
            class="p-button-rounded p-button-text"
          ></button>

          <button
            pButton
            type="button"
            (click)="navigateFeatures('next')"
            label="Next"
            class="p-button-link"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            (click)="navigateFeatures('skip')"
            icon="pi pi-chevron-right"
            class="p-button-rounded p-button-text"
          ></button>
        </div>
      </div>
      <div
        #slide3
        class="slide-offscreen"
        (transitionend)="transitionend($event)"
      >
        <button
          pButton
          pRipple
          type="button"
          label="Create!"
          class="p-button-text"
          (click)="apps.create($event)"
        ></button>
        <button
          pButton
          type="button"
          (click)="navigateCreate('back')"
          label="Back"
          class="p-button-link"
        ></button>
      </div>
    </div>

    <ng-particles
      id="newapp-bg"
      [options]="newappParticlesOptions"
      (particlesLoaded)="particlesLoaded($event)"
    ></ng-particles>
  </ng-template>
</p-dialog>
