<div
  class="root-container p-component"
  [style.color]="this.isDarkMode ? 'white' : 'black'"
>
  <!-- <div class="menubar-wrap">
    <p-menubar class="custom-menubar" [model]="items">
      <ng-template pTemplate="end">
        <img src="../assets/images/girlcode.png" height="40" class="mr-2" />
      </ng-template>
    </p-menubar>
  </div> -->

  <ng-container *ngIf="_reload">
    <ng-particles
      *ngIf="particlePresetName == 'Background Mask'"
      [options]="particlePreset"
      (particlesLoaded)="particlesLoaded($event)"
    ></ng-particles>
    <ng-particles
      *ngIf="particlePresetName == 'Big Particles'"
      [options]="particlePreset"
      (particlesLoaded)="particlesLoaded($event)"
    ></ng-particles>
    <ng-particles
      *ngIf="particlePresetName == 'Multiple Images'"
      [options]="particlePreset"
      (particlesLoaded)="particlesLoaded($event)"
    ></ng-particles>
    <ng-particles
      *ngIf="particlePresetName == 'Parallax'"
      [options]="particlePreset"
      (particlesLoaded)="particlesLoaded($event)"
    ></ng-particles>
  </ng-container>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button tab="org">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Org</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button> -->
    </ion-tab-bar>
  </ion-tabs>

  <!-- <router-outlet></router-outlet> -->
</div>
