<div
  class="root-container p-component"
  [style.color]="this.isDarkMode ? 'white' : 'black'"
>
  <div class="menubar-wrap">
    <p-menubar class="custom-menubar" [model]="items">
      <ng-template pTemplate="end">
        <img src="../assets/images/girlcode.png" height="40" class="mr-2" />
      </ng-template>
    </p-menubar>
  </div>

  <div
    id="animated-background"
    [style.backgroundColor]="this.isDarkMode ? '#2b2b2b' : 'white'"
    class="animated-background-wrap"
  ></div>

  <ng-container *ngIf="_reload">
    <ng-particles
      *ngIf="particlePresetName == 'Background Mask'"
      [options]="particlePreset"
      (particlesLoaded)="particlesLoaded($event)"
    ></ng-particles>
    <ng-particles
      *ngIf="particlePresetName == 'Big Particles'"
      [options]="particlePreset"
      (particlesLoaded)="particlesLoaded($event)"
    ></ng-particles>
    <ng-particles
      *ngIf="particlePresetName == 'Multiple Images'"
      [options]="particlePreset"
      (particlesLoaded)="particlesLoaded($event)"
    ></ng-particles>
    <ng-particles
      *ngIf="particlePresetName == 'Parallax'"
      [options]="particlePreset"
      (particlesLoaded)="particlesLoaded($event)"
    ></ng-particles>
  </ng-container>

  <div class="content-viewport">
    <router-outlet></router-outlet>
  </div>
</div>
