.treasury-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-content img {
  min-height: 100%;
  width: auto;
  object-fit: cover;
}

.card-header-img {
  width: 100%;
  height: 200px;
}
