/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Helvetica, Arial,
    sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  box-sizing: border-box;
}

.p-menubar,
.p-menubar-root-list {
  border-radius: 0 !important;
  border: 0px !important;
}

app-portfolio .p-progress-spinner {
  height: 25px !important;
  width: 25px !important;
}

app-portfolio .p-listbox-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

app-portfolio .p-card-content {
  display: flex;
  justify-content: center;
}

.flex-column {
  flex-direction: column !important;
}

.settings-header {
  text-align: left;
}
.settings-body {
}

.image-button > button {
  padding: 0px !important;
  border-radius: 50% !important;
}
