ion-card {
  background-color: rgb(255 255 255 / 90%);
}

ion-card-title {
  text-align: left;
}

ion-card-title#displayname {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-grid {
  max-height: 200px;
  overflow-y: auto;
}

.tap-to-edit-btn {
  position: absolute;
  top: 0;
  width: 10rem;
  border-radius: 50%;
  height: 10rem;
  display: flex;
  align-items: flex-end;
}

.bg-col {
  width: 50px;
  height: 50px;
}

.bg-col-inner {
  width: 50px;
  height: 50px;
  background-size: contain;
  margin: 0;
  padding: 0;
}

ion-button {
  & ion-text {
    position: absolute;
    bottom: 1em;
  }
}
