ion-card {
  background-color: rgb(255 255 255 / 90%);
}

ion-avatar > img {
  object-position: center;
  width: 10rem;
  height: 10rem;
}

ion-card-title {
  text-align: left;
}

ion-card-title#displayname {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tap-to-edit-btn {
  position: absolute;
  top: 0;
  width: 10rem;
  border-radius: 50%;
  height: 10rem;
  display: flex;
  align-items: flex-end;
}

ion-button {
  & ion-text {
    position: absolute;
    bottom: 1em;
  }
}

.bg-grid-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 250px;
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.bg-img {
  width: 24.5%;
  aspect-ratio: 1 / 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
