ion-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tap-to-edit-btn {
    position: absolute;
    top: 0;
    width: 10rem;
    border-radius: 50%;
    height: 10rem;
    display: flex;
    align-items: flex-end;
    opacity: 0.5;
    & .tap-to-edit-inner {
        width: 100%;
        height: 30%;
        background: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
}